.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 8px 16px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #aad6b3;
}

.logo {
    height: 64px;
    background: #aad6b3;
    background: url(../../assets/logo-big.png) no-repeat;
    background-position: center center;
    background-size: cover;
}