.header {
    position: fixed;
    width: 100vw;
    height: 100px;
    line-height: 100px;
    z-index: 999;
    background-color: lightblue;
    padding: 0 10px;
}

.search {
    display: inline-block;
    width: 100%;
    outline: none;
}

.create_btn {
    background: #a9e0f3;
    color: #fff;
    border: none;
    align-self: flex-end;
}

.create_btn:hover {
    background: pink;
    color: white;
    align-items: flex-end;
}

.sider {
    height: 66vh;
    position: fixed;
    left: 0;
    margin-top: 150px;
    z-index: 1;
    margin-left: 10px;
    border-radius: 10px;
}

.sider .menu {
    z-index: 2;
    background-color: #f0f2f5;
    height: 66vh;
}

.menu .item {
    color: lightcoral;
    margin: 0px 0px;
    padding: 0px 0px;
    padding-right: 2px;
    text-align: center;
    z-index: 0;
    border-radius: 10px;
    background-color: white;
    margin-top: 10px;
    line-height: 5vh;
    height: 5vh;
    font-size: 10px;
}

.content {
    background: #fff;
    min-height: 530px;
    margin-top: 100px;
    margin-left: 90px;
    width: 1100px;
}

.home {
    display: flex;
}

.left {
    padding: 8px;
    width: 520px;
}

.right {
    margin-left: 16px;
    padding: 8px;
    width: 620px;
    min-height: 200px;
}

.intro {
    position: relative;
    width: 500px;
    height: 280px;
    /* background-color: #aad6b3; */
}

.timeinfo {
    position: relative;
    /* padding-top: 180px; */
    margin-top: 5px;
    padding: 8px;
    width: 500px;
    height: 200px;
    /* background-color: royalblue; */
}

.carousel {
    height: 400px;
    /* background-color: #aad6b3; */
}

.img {
    width: 1100px;
    height: 400px;
}

.link {
    color: gray;
}

.link:hover {
    color: pink;
    font-size: 20px;
}

.search_menu {
    margin-top: -35px;
    /* background-color: lightseagreen; */
}

.search_menu_item {
    /* background-color: lightpink; */
    padding: 0px 0px;
    margin: 0px 0px;
    height: 30px;
    line-height: 30px;
}

.search_menu_item:hover {
    /* background-color: rebeccapurple; */
    height: 30px;
    line-height: 30px;
    /* margin: 0px 0px; */
    /* padding: 0px 0px; */
}

.card_title {
    line-height: 35px;
    /* color: lightblue; */
}

.card_gird {
    width: 25%;
    height: 200px;
    text-align: center;
}