/* .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 8px 16px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #aad6b3;
} */

.logo {
    height: 64px;
    background: #abe0f2;
    line-height: 64px;
    text-align: center;
    color: white;
    /* background: url(../../assets/logo-big.png) no-repeat;
    background-position: center center;
    background-size: cover; */
}

.home {
    display: flex;
}

.left {
    padding: 8px;
    width: 520px;
    /* background-color: salmon; */
}

.right {
    margin-left: 16px;
    padding: 8px;
    width: 620px;
    min-height: 200px;
    /* background-color: #9c7beb; */
}

.intro {
    position: relative;
    width: 500px;
    height: 280px;
    /* background-color: #aad6b3; */
}

.timeinfo {
    position: relative;
    /* padding-top: 180px; */
    margin-top: 5px;
    padding: 8px;
    width: 500px;
    height: 200px;
    /* background-color: royalblue; */
}

.carousel {
    height: 400px;
    /* background-color: #aad6b3; */
}

.img {
    /* width: 1100px; */
    height: 400px;
}