.header {
    width: 100%;
    height: 100px;
    line-height: 100px;
    background-color: lightblue;
    padding: 10 10px;
}

.content {
    background-color: white;
    min-height: 78vh;
}

.home {
    margin-top: 10px;
}

.intro {
    display: flex;
}

.info_left {
    width: 300px;
}

.info_left img {
    display: block;
    width: 100%;
    height: 150px;
}

.info_left label {
    display: block;
    height: 1.5 em;
    line-height: 1.5 em;
    text-align: center;
}

.info_right {
    width: 100%;
    justify-content: space-around;
}

.info_right .username_item {
    font-size: 2em;
}

.info_right .row {
    height: 50px;
    align-items: center;
}

.info_right .row .edit_btn {
    margin-right: 10px;
    border-radius: 10%;
    outline: none;
    background-color: #a9e0f3;
}

.create_btn {
    margin-left: 650px;
    background: #a9e0f3;
    color: #fff;
    border: none;
}

.create_btn:hover {
    margin-left: 650px;
    background: pink;
    color: white;
}

.link {
    color: white;
}

.link:hover {
    color: pink;
}

.loginout_btn {
    color: lightblue;
    background-color: lightgoldenrodyellow;
}

.loginout_btn:hover {
    color: pink;
    border: none;
}

.basci_info_edit {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #e9e9e9;
    padding: 10px 16px;
    background-color: #fff;
    text-align: right
}